<style>
#name{
  color: darksalmon;
}
#Qual{
  color: chocolate;
}
#email{
  color:goldenrod;
}
</style>
<div align="center">
  <h2>Hello I am {{ title }}</h2>
  <h3>
    <p id="name">Name:{{myName}}</p>
    <p id="Qual">Qualification:B.Tech</p>
    <p id="email">Email: shreyarana387@gmail.com</p>
  </h3>
</div>
<br/>
  <app-data-bind></app-data-bind>
  <hr size="5" color="cyan"/>
  <app-pipe-app></app-pipe-app>
  <hr size="5" color="yellow"/>
  <app-direct-app></app-direct-app>
  <router-outlet></router-outlet>
